.homepage-sign-up-container_GR{height: 0px; float:none;background-color:#df5816;}
#homepage #content_GE{padding:0;position:relative;width:970px;margin:0px auto;}
#central_content_outside_GE {margin-left: 0px; border-left: 0px;float:left; margin-top: 0px; margin-bottom:0px;  width:740px;}
#central_content_GE {margin-left: 0px;float:left; margin-top: 0px; padding-top: 0px; margin-bottom:0px;  width:725px;border-top: 0px;}
#homepage #sidebar_GE{margin-right:0px;border-right:0px}#sidebar_GE{float:left;margin:0;width:227px;}#sidebar-right{float:right;margin:0;padding:0;width:220px;}
#homepage #brands_GE{padding:0;position:relative;width:970px;margin:30px auto; height: 80px; }
.homepage-sign-up-container_GE{height: 0px; float:none;}
.about_GE_header_pict_GE{float:left; margin-bottom:0px ;width: 120px; height: 70px;}