#homepage #content_GR{padding:0;position:relative;width:970px;margin:0px auto; height: 450px; }
#central_content_outside_GR {margin-left: 0px; border-left: 0px;float:left; margin-top: 0px; margin-bottom:10px;  width:740px; height: 340px;}
#central_content_GR {margin-left: 0px;float:left; margin-top: 0px; padding-top: 0px; margin-bottom:10px;  width:725px; height: 340px;}
.homepage-sign-up-container_GR{height: 0px; float:none;}
