.homepage-sign-up-container_HS{height: 2px; float:none;background-color:#df5816;width: 100%;}
#homepage #content_HS{padding:0;position:relative;width:970px;margin:0px auto;}
#central_content_outside_HS {margin-left: 0px; border-left: 2px dotted #9c9c9c;float:left; margin-top: 0px; margin-bottom:0px;  width:740px;}
#central_content_HS {margin-left: 15px;float:left; margin-top: 0px; padding-top: 20px; margin-bottom:10px;  width:740px;border-top: 2px solid #d22938;}
#homepage #sidebar_HS{margin-right:0px;border-right:0px}#sidebar_HS{float:left;margin:0;width:227px;}#sidebar-right{float:right;margin:0;padding:0;width:220px;}
#homepage #brands_HS{padding:0;position:relative;width:970px;margin:30px auto; height: 80px; }

.about_HS_header_pict_HS{float:left; margin-bottom:0px ;width: 120px; height: 70px;}