#homepage #content_PD{padding:0;position:relative;width:970px;margin:0px auto; height: 450px; }
#central_content_outside_PD {margin-left: 0px; border-left: 0px;float:left; margin-top: 0px; margin-bottom:10px;  width:740px; height: 340px;}
#central_content_PD {margin-left: 0px;float:left; margin-top: 0px; padding-top: 0px; margin-bottom:10px;  width:725px; height: 340px;}
#homepage #sidebar_PD{margin-right:0px;border-right:0px}#sidebar_PD{float:left;margin:0;width:227px;height:420px;}#sidebar-right{float:right;margin:0;padding:0;width:220px;}
#homepage #brands_PD{padding:0;position:relative;width:970px;margin:30px auto; height: 80px; }
.homepage-sign-up-container_PD{height: 0px; float:none;}